body {
    font-family: 'Stolzl', sans-serif !important;
    background-color: #eee;
    /* background-image: url('../assets/images/bg.jpg'); */
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.btn {
    border-radius: 0rem;
    font-size: .85rem;
    padding: .6rem 1.5rem;
}

.navbar {
    z-index: 99;
    height: 80px;
    border-bottom: solid 2px rgb(213, 214, 214);
    background-color: rgb(245, 245, 245);
    overflow: hidden;
}

.navbar-brand {
    font-family: 'Stolzl-Medium';
}

.container,
.container-margin {
    margin: 0 10px;
}

.display-45 {
    font-size: 2.3rem;
    font-family: 'Stolzl-Medium'
}

.jumbotron {
    /* background-image: url('../assets/images/cemetery.jpg');
    background-repeat: no-repeat;
    background-position: center;  */
    border-radius: 0rem;
}

.btn-lg {
    padding: .8rem 2rem;
}

.text-sm {
    font-family: 'Stolzl-Medium';
    letter-spacing: .1rem;
    font-size: .9rem;
}

.card {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 25px -14px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 25px -14px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 25px -14px rgba(0, 0, 0, 0.15);
}

.menu-btn,
.change {
    display: inline-block;
    cursor: pointer;
    margin-left: 0;
    margin-right: 12px;
    padding-right: 0;
    padding-left: 0;
}


.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-3px, 3px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.card-btn {
    height: 150px;
    overflow: hidden;
}

.card-btn.planner {
    
    cursor: pointer;
}

@media (min-width: 1200px) {
    .card-jumbo {
        height: 316px;
        overflow: hidden;
    }

    .card-jumbo .card-title {
        font-family: 'Stolzl-Medium';
        margin-bottom: 8px;
        margin-top: 175px;
        
    }
}



.card-number {
    margin-bottom : 10px;
    color: #ccc;
}

.card-btn.planner .card-btn-img img.btn-img-tomb {
    max-width: none;
    content: url('../assets/images/tombstone.png');
    position: absolute;
    bottom: -55%;
    height: 250px;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
}

.card-btn p.card-text {
    color: #888;
    font-size: .85rem;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}


.card-body {
    position: relative;
}

.card-title {
    font-family: 'Stolzl-Medium';
    margin-bottom: 8px;
    
}




.step1 .card-text{

}

.btn-img-tomb {
    content: url('../assets/images/tombstone.png');
    position: absolute;
    left: 55%;
    bottom: 10%;
    height: 250px;
}

.btn-img-skulls {
    content: url('../assets/images/skulls.png');
    position: absolute;
    left: 65%;
    bottom: 0%;
    height: 150px;

}

.vertical-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
}

@media (min-width: 1200px) {
    .vertical-center {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
    }
}

.parallax-window {
    height: calc(100vh - 80px);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 85px;
}


.sidenav a {
    margin: 0 12px 0 12px;
    padding: 12px 8px 12px 0px;
    border-top: solid #eee 1px;
    text-decoration: none;
    font-size: 1rem;
    color: #000;
    display: block;
    transition: 0.3s;
}

.sidenav a.sidenav-top {
    border-top: none;
    ;
}

.sidenav a:hover {
    color: #888;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.form {
    position: absolute;
    z-index: 99;
    background: #FFFFFF;
    max-width: 300px;
    width: 0;
    margin: 0 auto 100px;
    padding: 30px 30px 20px 30px;
    text-align: center;
    top: 85px;
    opacity: 0;
    transition: .15s;
}

.form.login-visible {
    opacity: 100;
    width: 300px;
}

@media (min-width: 1200px) {
    .form {
        right: 3vw;
    }
}

@media (min-width: 1900px) {
    .form {
        right: 3vw;
    }
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    height: 2rem;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: .8rem;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    height: 2rem;
    border: 0;
    padding: 5px;
    color: #FFFFFF;
    font-size: .8rem;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #343a40;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

#btn-login {
    cursor: pointer;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -40px !important;  /* 50% of your logo width */
    display: block;
}

.scroll-downs{
    opacity: 0;
}
@media (min-width: 1200px) {
    .scroll-downs {
        opacity: 100;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        margin-top: 20vh;
        width :34px;
        height: 55px;
      }
      .mousey {
        width: 3px;
        padding: 10px 15px;
        height: 35px;
        border: 2px solid #fff;
        border-radius: 25px;
        opacity: 0.75;
        box-sizing: content-box;
      }
      .scroller {
        width: 3px;
        height: 10px;
        border-radius: 25%;
        background-color: #fff;
        animation-name: scroll;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(.15,.41,.69,.94);
        animation-iteration-count: infinite;
      }
      @keyframes scroll {
        0% { opacity: 0; }
        10% { transform: translateY(0); opacity: 1; }
        100% { transform: translateY(15px); opacity: 0;}
      }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky.form {
    position: fixed;
    top: 85px;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

  .startpage {
      margin-top : 80px;
  }

  .featurette-divider {
    margin: 30px 0;
    visibility: hidden;
  }
  
  .featurette-heading {
    font-family: 'Stolzl';
    margin-bottom: 20px;
  }

  .featurette-text {
    font-size : 1rem;
    font-family: 'Stolzl-Light';
    letter-spacing: 0.05em;
  }
  
  footer {
      background-color : #fff;
    padding-top: 2rem;
    padding-bottom: 1rem;
}